.flex {
  display: flex;
}

.primary-color {
  color: #172b4d;
}

.secondary-color {
  color: #17a939;
}

.center {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.language-container {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-top-25px {
  margin-top: 25px;
}

.pointer {
  cursor: pointer;
}

.welcome {
  width: 90px;
  height: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;

  /* identical to box height, or 140% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Theme 2 / Neutral 1 */

  color: #28352f;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.nav {
  display: flex;
}

.background {
  background-image: url('./assets/header-illustration-mobile.svg');
  background-repeat: no-repeat;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.intro {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

header {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.margin-10px {
  margin: 10px;
}

.flash-card {
  height: 350px;
  width: 330px;
  background-color: #ebf0ee;
  border-radius: 25px;
  margin: 25px 0 0 0;
  display: grid;
  grid-template-rows: 60% 40%;
}

.logo-title {
  grid-row: 1;
  border-radius: 25px 25px 0 0;
}

.logo-container {
  padding-top: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.item {
  background-color: white;
  border-radius: 15px;
  padding: 8px;
  margin-left: 5px;
  font-size: 14.5px;
}

.card {
  margin: 25px;
  box-shadow:
    11px 11px 22px #bebebe,
    -11px -11px 22px #fff;
  height: 480px;
  width: 330px;
  border-radius: 25px;
  display: grid;
  grid-template-rows: 45% 55%;
}

.font {
  font-family: 'Inter', sans-serif;
}

.cover {
  grid-row: 1;
  background-color: #ebf0ee;
  border-radius: 25px 25px 0 0;
}

.content {
  grid-row: 2;
}

.card-name {
  height: 40px;
}

.language {
  background-color: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:
    11px 11px 22px #bebebe,
    -11px -11px 22px #fff;
  border-radius: 25px;
  padding: 10px;
  margin-left: 5px;
  font-size: 14.5px;
}

.see-project {
  cursor: pointer;
  font-size: large;
  height: 55px;
  padding: 0 25px 0 25px;
  background-color: #36b37f;
  border-radius: 25px;
  border: 0;
  color: white;
}

.divider {
  border-top: 8px solid #36b37f;
  border-radius: 5px;
  width: 200px;
  margin-bottom: 20px;
}

.title {
  padding: 30px 0 25px 0;
}

.input {
  height: 50px;
  width: 300px;
  border-radius: 10px;
}

textarea {
  height: 150px;
  width: 300px;
  border-radius: 10px;
  padding-top: 10px;
}

.mailme {
  color: #42526e;
}
