@media screen and (min-width: 768px) {
  .hide-in-desktop {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: flex;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px;
  }

  .background {
    background-image: url('./assets/header-illustration-desktop.svg');
    background-repeat: no-repeat;
  }

  .title {
    padding: 30px 0 25px 0;
  }

  .my-recent-works {
    margin-top: 500px;
  }

  .contact-form {
    display: grid;
    grid-template-columns: 55% 45%;
    margin: 0 150px 0 150px;
    grid-gap: 30px;
  }

  .input {
    height: 50px;
    width: 500px;
    border-radius: 10px;
    border: 2px solid #ebf0ee;
  }

  textarea {
    height: 150px;
    width: 500px;
    border-radius: 10px;
    padding-top: 10px;
  }

  .crane {
    position: absolute;
    top: 2400px;
    right: -15px;
    background-image: url('./assets/crane-desktop.svg');
    width: 200px;
    height: 250px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .boat {
    position: absolute;
    top: 2750px;
    left: -50px;
    background-image: url('./assets/boat-desktop.svg');
    width: 200px;
    height: 250px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .contact-form-1 {
    position: absolute;
    top: 3800px;
    left: 0px;
    background-image: url('./assets/contact-form-1-desktop.svg');
    width: 200px;
    height: 400px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .contact-form-2 {
    position: absolute;
    top: 3950px;
    left: 400px;
    background-image: url('./assets/contact-form-2-desktop.svg');
    width: 200px;
    height: 400px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .contact-form-3 {
    position: absolute;
    top: 3650px;
    right: -15px;
    background-image: url('./assets/contact-form-3-desktop.svg');
    width: 200px;
    height: 600px;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

@media screen and (max-width: 768px) {
  .hide-in-mobile {
    display: none;
  }

  .desktop-nav {
    display: none;
  }

  .background {
    background-image: url('./assets/header-illustration-mobile.svg');
    background-repeat: no-repeat;
  }

  .title {
    padding: 30px 0 25px 0;
  }

  .input {
    height: 50px;
    width: 300px;
    border-radius: 10px;
  }

  textarea {
    height: 150px;
    width: 300px;
    border-radius: 10px;
    padding-top: 10px;
  }

  .crane {
    position: absolute;
    top: 3700px;
    right: -125px;
    background-image: url('./assets/crane-mobile.svg');
    width: 200px;
    height: 250px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .boat {
    position: absolute;
    top: 4000px;
    background-image: url('./assets/boat-mobile.svg');
    width: 200px;
    height: 250px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .contact-form-mobile {
    position: absolute;
    top: 5900px;
    right: -110px;
    background-image: url('./assets/contact-form-mobile.svg');
    width: 200px;
    height: 400px;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.down-arrow {
  animation: bounce 1s alternate-reverse infinite;
  /* animation shorthand */
  /* animation: animation-name animation-duration animation-direction animation-iteration-count */
}

.see-project:hover {
 animation: pulse 1s alternate infinite;
}

@keyframes bounce{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

@keyframes pulse{
  0%{
    transform: scale(1);
    background-color: #36b37f;
  }
  100%{
    transform: scale(1.1);
    background-color: rgb(0, 238, 255);
    color: red;
  }
}

.m-10 {
  margin: 10px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-100 {
  margin-top: 100px;
}

.ml-10 {
  margin-left: 10px;
}

.primary-color {
  color: #172b4d;
}

.secondary-color {
  color: #17a939;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.welcome {
  margin: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;
  padding: 5px 5px 5px 0px;

  /* identical to box height, or 140% */

  display: flex;
  align-items: center;
  text-align: center;
}

.nav {
  display: flex;
}

.menu {
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.intro {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  padding: 10px;
}

header {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  padding: 10px;
}

.flash-card {
  display: grid;
  grid-template-rows: 60% 40%;
  height: 350px;
  width: 330px;
  background-color: #ebf0ee;
  border-radius: 25px;
  margin: 25px;
}

.logo-title {
  grid-row: 1;
}

.logo-container {
  padding-top: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px 0 30px;
}

.item {
  background-color: white;
  border-radius: 15px;
  padding: 8px;
  margin-right: 8px;
  font-size: 14.5px;
  height: 20px;
  transition: background-color 0.5s;
}

.item:hover {
  background-color: cyan;
  color: black;
}

.card {
  display: grid;
  grid-template-rows: 55% 45%;
  margin: 25px;
  height: 450px;
  width: 330px;
  border: 2px solid #ebf0ee;
  border-radius: 25px;
  box-shadow: 2px 3px #888888;
  transition: box-shadow 1s;
}

.card:hover {
  box-shadow: 8px 10px #666666;
}

.font {
  font-family: 'Inter', sans-serif;
}

.cover {
  grid-row: 1;
  background-color: #ebf0ee;
  border-radius: 25px 25px 0 0;
}

.card-name {
  text-align: center;
  margin: 15px;
}

.language-container {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language {
  background-color: #ebf0ee;
  border-radius: 10px;
  padding: 10px;
  margin-right: 5px;
  font-size: 12px;
}

.see-project {
  cursor: pointer;
  font-size: large;
  height: 55px;
  padding: 0 25px 0 25px;
  background-color: #36b37f;
  border-radius: 15px;
  border: 0;
  color: white;
}

.divider {
  border-top: 8px solid #36b37f;
  border-radius: 5px;
  width: 200px;
  margin-bottom: 20px;
}

.line {
  border-top: 2px solid #c6ccdb;
  border-radius: 5px;
  width: 100%;
  margin: 300px 0 50px 0;
}

.mailme {
  color: #42526e;
}

li {
  list-style-type: none;
}