@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop-nav {
    position: fixed;
    display: flex;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px;
  }

  .background {
    background-image: url('./assets/header-ill-desktop.svg');
    background-repeat: no-repeat;
  }

  .title {
    padding: 30px 0 25px 0;
    transition: 0.3s ease;
  }

  .title:hover {
    transform: translate(15px);
  }

  .my-recent-works {
    margin-top: 500px;
  }

  .contact-form {
    display: grid;
    grid-template-columns: 55% 45%;
    margin: 0 150px 0 150px;
    grid-gap: 30px;
  }

  .input {
    height: 50px;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #ebf0ee;
    font-size: 20px;
  }

  textarea {
    height: 150px;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #ebf0ee;
    font-size: 20px;
  }

  .crane {
    position: absolute;
    top: 2400px;
    right: -15px;
    background-image: url('./assets/crane-desktop.svg');
    width: 200px;
    height: 250px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .boat {
    position: absolute;
    top: 2750px;
    left: -50px;
    background-image: url('./assets/boat-desktop.svg');
    width: 200px;
    height: 250px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .contact-form-ill-1 {
    position: absolute;
    top: 3800px;
    left: 0;
    background-image: url('./assets/contact-form-ill-1-desktop.svg');
    width: 200px;
    height: 330px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .contact-form-ill-2 {
    position: absolute;
    top: 3950px;
    left: 400px;
    background-image: url('./assets/contact-form-ill-2-desktop.svg');
    width: 120px;
    height: 100px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .contact-form-ill-3 {
    position: absolute;
    top: 3650px;
    right: -15px;
    background-image: url('./assets/contact-form-ill-3-desktop.svg');
    width: 200px;
    height: 500px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  .desktop-nav {
    display: none;
  }

  .background {
    background-image: url('./assets/header-ill-mobile.svg');
    background-repeat: no-repeat;
  }

  .title {
    padding: 30px 0 25px 0;
  }

  .input {
    height: 50px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #ebf0ee;
    padding: 10px;
    font-size: 20px;
  }

  textarea {
    height: 150px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #ebf0ee;
    padding: 10px;
    font-size: 20px;
  }

  .crane {
    position: absolute;
    top: 3700px;
    right: -125px;
    background-image: url('./assets/crane-mobile.svg');
    width: 200px;
    height: 250px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .boat {
    position: absolute;
    top: 4000px;
    background-image: url('./assets/boat-mobile.svg');
    width: 200px;
    height: 250px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .contact-form-ill-mobile {
    position: absolute;
    top: 5900px;
    right: -110px;
    background-image: url('./assets/contact-form-ill-mobile.svg');
    width: 200px;
    height: 400px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .close {
    position: relative;
    z-index: 1;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
}

.down-arrow {
  animation: bounce 1s alternate-reverse infinite;

  /* animation shorthand */

  /* animation: animation-name animation-duration animation-direction animation-iteration-count */
}

@keyframes bounce {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    background-color: #36b37f;
  }

  100% {
    transform: scale(1.1);
    background-color: rgb(0, 238, 255);
    color: red;
  }
}

.m-10 {
  margin: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-100 {
  margin-top: 100px;
}

.ml-10 {
  margin-left: 10px;
}

.primary-color {
  color: #172b4d;
}

.secondary-color {
  color: #17a939;
}

.no-hover {
  pointer-events: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.welcome {
  color: #3a4a42;
  margin: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;
  padding: 5px 5px 5px 0;

  /* identical to box height, or 140% */

  display: flex;
  align-items: center;
  text-align: center;
}

.welcome:hover {
  color: rgb(74, 176, 210);
}

.nav {
  display: flex;
}

/* menu */

.topNav {
  position: fixed;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.ham {
  position: relative;
  width: 40px;
  height: 40px;
  padding-right: 50px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

.ham:hover {
  border-radius: 5px;
  background-color: white;
  opacity: 0.75;
}

.menuX {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.menuX:hover {
  padding: 0;
  border-radius: 5px;
  background-color: white;
  opacity: 0.75;
}

.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background: white;
  width: 100%;
  height: 100vh;

  /* hide the menu above the screen by default */
  transform: translateX(-100%);
  transition: transform 0.2s ease;
}

.showNav {
  transform: translateX(0);
}

.sideNav ul {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

a {
  text-decoration: none;
}

.sideNav ul li a {
  display: block;
  color: #3a4a42;
  padding: 10px;
  width: 0;
  margin-top: 1rem;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.sideNav ul li a:hover,
.sideNav ul li a:focus {
  color: rgb(74, 176, 210);
}

/* menu-end */

/* popup */

/* The Modal (background) */
.project {
  display: none;

  /* Hidden by default */
  position: fixed;

  /* Stay in place */
  z-index: 1;

  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;

  /* Full width */
  height: 100%;

  /* Full height */
  overflow: auto;

  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);

  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);

  /* Black w/ opacity */
}

/* Modal Content/Box */
.detail {
  background-color: #fefefe;
  margin: 15% auto;

  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 80%;

  /* Could be more or less, depending on screen size */
}

.detail .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.detail .header .headline {
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  color: #172b4d;
  text-align: start;
}

.detail .btn-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.detail .btn {
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
}

.detail .text {
  text-align: start;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
}

/* The Close Button */

.mobileX {
  position: absolute;
  top: 17px;
  right: 6px;
  z-index: 2;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* popup-end */

.intro {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  padding: 10px;
}

header {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  padding: 10px;
}

.flash-card {
  display: grid;
  grid-template-rows: 60% 40%;
  height: 350px;
  width: 330px;
  background-color: #ebf0ee;
  border-radius: 25px;
  margin: 25px;
}

.logo-title {
  grid-row: 1;
}

.logo-container {
  padding-top: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px 0 30px;
}

.item {
  background-color: white;
  border-radius: 15px;
  padding: 8px;
  margin-right: 8px;
  font-size: 14.5px;
  height: 20px;
  transition: background-color 0.5s;
}

.item:hover {
  background-color: cyan;
  color: black;
}

.profiles {
  padding: 10px;
  margin: 15px 5px 15px 5px;
  border-radius: 5px;
  height: 25px;
  transition: background-color 0.5s;
}

.profiles:hover {
  background-color: lightgreen;
}

.card {
  display: grid;
  grid-template-rows: 55% 45%;
  margin: 25px;
  height: 500px;
  width: 330px;
  border: 2px solid #ebf0ee;
  border-radius: 25px;
  box-shadow: 2px 3px #888;
  transition: box-shadow 1s;
}

.card:hover {
  box-shadow: 8px 10px #666;
}

.font {
  font-family: 'Inter', sans-serif;
}

.cover {
  grid-row: 1;
  background-color: #ebf0ee;
  border-radius: 25px 25px 0 0;
}

.card-name {
  text-align: center;
  margin: 15px;
}

.badge-container {
  padding: 8px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.language-container {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language {
  background-color: #ebf0ee;
  border-radius: 10px;
  padding: 10px;
  margin: 0 5px 5px 0;
  font-size: 12px;
}

.see-project {
  cursor: pointer;
  font-size: large;
  height: 55px;
  padding: 0 25px 0 25px;
  background-color: #36b37f;
  border-radius: 15px;
  border: 0;
  color: white;
}

.see-project:hover {
  animation: pulse 1s alternate infinite;
}

.divider {
  border-top: 8px solid #36b37f;
  border-radius: 5px;
  width: 200px;
  margin-bottom: 20px;
}

.line {
  border-top: 2px solid #c6ccdb;
  border-radius: 5px;
  width: 100%;
  margin: 250px 0 15px 0;
}

.mailme {
  color: #42526e;
}

li {
  list-style-type: none;
}

.error {
  color: red;
  margin: 5px;
}
